<a href="https://colab.research.google.com/github/dgg32/algo/blob/master/minzhao_challenge_attempt_with_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#####set_n num_cards {sub_result: set(card_combi)}

import math


set_1 = {}

max_card = 13

for card in range(1, max_card+1):
    set_1[card] = set()
    set_1[card].add((card,))
    set_1[-card] = set()
    set_1[-card].add((card,))

In [2]:
set_1

{-13: {(13,)},
 -12: {(12,)},
 -11: {(11,)},
 -10: {(10,)},
 -9: {(9,)},
 -8: {(8,)},
 -7: {(7,)},
 -6: {(6,)},
 -5: {(5,)},
 -4: {(4,)},
 -3: {(3,)},
 -2: {(2,)},
 -1: {(1,)},
 1: {(1,)},
 2: {(2,)},
 3: {(3,)},
 4: {(4,)},
 5: {(5,)},
 6: {(6,)},
 7: {(7,)},
 8: {(8,)},
 9: {(9,)},
 10: {(10,)},
 11: {(11,)},
 12: {(12,)},
 13: {(13,)}}

In [0]:
###construct set_2 based on set_1

set_2 = {}

for card in range(1, max_card+1): 
    for sub_result in set_1:
        new_results = [card + sub_result, -card + sub_result, card * sub_result, -card * sub_result, sub_result/card, sub_result/-card]

        if sub_result != 0:
            new_results.append(card/sub_result)
            new_results.append(-card/sub_result)

        for new_result in new_results:
            if new_result not in set_2:
                set_2[new_result] = set()

            for old_card in set_1[sub_result]:
                #print ()

                new_tuple = tuple(sorted(list(old_card + (card,))))

                set_2[new_result].add(new_tuple)

In [0]:
## construct set_3 based on  set_2

set_3 = {}

for card in range(1, max_card+1): 
    for sub_result in set_2:
        new_results = [card + sub_result, -card + sub_result, card * sub_result, -card * sub_result, sub_result/card, sub_result/-card]

        if sub_result != 0:
            new_results.append(card/sub_result)
            new_results.append(-card/sub_result)

        for new_result in new_results:
            if new_result not in set_3:
                set_3[new_result] = set()

            for old_card in set_2[sub_result]:
                #print ()

                new_tuple = tuple(sorted(list(old_card + (card,))))

                set_3[new_result].add(new_tuple)

In [0]:
#### to construct set_4, there are two ways: first based on set_3. Second based on set_2 with set_2

#### Here only consider when the result is 24

set_4 = {}


target_sum = 24

#### First, implement set_3-based

for card in range(1, max_card+1): 
    for sub_result in set_3:
        new_results = [card + sub_result, -card + sub_result, card * sub_result, -card * sub_result, sub_result/card, sub_result/-card]

        if sub_result != 0:
            new_results.append(card/sub_result)
            new_results.append(-card/sub_result)

        for new_result in new_results:
            if math.isclose(new_result, target_sum, abs_tol=0.00000000000001):
                if target_sum not in set_4:
                    set_4[target_sum] = set()

                for old_card in set_3[sub_result]:
                    #print ()

                    new_tuple = tuple(sorted(list(old_card + (card,))))

                    set_4[target_sum].add(new_tuple)

In [0]:
#### Second, implement set_2 set_2

for sub_result in set_2:
    for sub_result_2 in set_2:
        new_results = [sub_result_2 + sub_result, -sub_result_2 + sub_result, sub_result_2 * sub_result, -sub_result_2 * sub_result]

        if sub_result != 0:
            new_results.append(card/sub_result)
            new_results.append(-card/sub_result)

        if sub_result_2 != 0:
            new_results.append(sub_result/sub_result_2)
            new_results.append(sub_result/sub_result_2)

        for new_result in new_results:
            if math.isclose(new_result, target_sum, abs_tol=0.00000000000001):
                if target_sum not in set_4:
                    set_4[target_sum] = set()

                for old_card in set_3[sub_result]:
                    #print ()

                    new_tuple = tuple(sorted(list(old_card + (card,))))

                    set_4[target_sum].add(new_tuple)

In [7]:
len(set_4[24])

1480

In [8]:
###previous attempt:

operator_pair = {"+": "-", "-": "+", "*": "/", "/": "*"}
import numexpr
import math
import copy



##example forward [5, "-", 1, "/", 5, "*", 5]
## reverse [5, "*", 5, "/", 1, "-", 5]

def recurse(part_sum, sequence, temp_record):
    if len(sequence) == 1:
        if math.isclose(sequence[0], part_sum, abs_tol=0.00000000000001):
            temp_record.append("+")
            return [True, temp_record]
        elif math.isclose(sequence[0], -part_sum, abs_tol=0.00000000000001):
            temp_record.append("-")
            return [True, temp_record]
        else:
            temp_record.append("+")
            return [False, temp_record]
    else:
        last_digit = sequence[-1]
        temp = sequence[:-1]
        make_it = False

        successful_record = []

        for operator in ["+", "-", "*", "/"]:
            anti_operator = operator_pair[operator]

            new_target = numexpr.evaluate(str(part_sum) + anti_operator + str(last_digit)).item()
            
            new_record = copy.deepcopy(temp_record)

            new_record.append(operator)

            #print ((new_target, temp, new_record))

            [result, small_record] = recurse(new_target, temp, new_record)

            if result == True:
                make_it = True
                successful_record = small_record

                #print (new_record)
                break

        if make_it == True:
            return [True, successful_record[::-1]]
        else:
            return [False, []]

print (recurse(target_sum, [9, 13, 3, 3], []))

[False, []]

In [9]:
#### some sanity check that needs two parenthesis, which the previous attempts failed

tuple(sorted([9,13,3,3])) in set_4[target_sum]

tuple(sorted([1,5,3,3])) in set_4[target_sum]

True

In [0]:
from itertools import combinations_with_replacement

total_possible_combi_with_replacement = len(list(combinations_with_replacement(range(1, max_card+1), 4)))

In [11]:
print (f"So this answer is: {100 * len(set_4[24]) / total_possible_combi_with_replacement}%")

So this answer is: 81.31868131868131%